<div>
    <img class="img" src="../assets/poster1.png">
</div>

<div class="d-none d-lg-block">
    <div style="position: absolute;top: 70px;">
        <div class="container-fluid">
            <img src="../assets/cwslogo.png">
            <div class="mt-5 pl-5" style="font-size: 65px;">
                Poster design you can trust on
            </div>
            <div class="row mt-5">
                <div class="col-md-8 pl-5">
                    <p class="pl-3" style="font-size: 30px;">
                        Cogent Web Services is a leading Designing Company which aim to provide you with the best services that satisfy all your requirements in a set budget.
                    </p>
                </div>
            </div>
            <div class="row pl-4">
                <div class="col-md-3 mt-5">
                    <div class="container">
                        <img src="../assets/Rectangle 154.png" width="200px">
                        <div class="centered">Call Now</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="d-lg-none">
    <div style="position: absolute;top: 20px;">
        <div class="container-fluid1">
            <img class="img2" src="../assets/cwslogo.png">
            <div class="mt-2 pl-2" style="font-size: 25px;font-weight: bold;">
                Best Designing company in world
            </div>
            <!-- <div class="row">
                <div class="col-md-2 mt-5"> -->
            <div class="float-left mt-5">
                <div class="container">
                    <img src="../assets/Rectangle 154.png" width="200px">
                    <div class="centered">Call Now</div>
                </div>
            </div>

            <!-- </div>
            </div> -->

        </div>
    </div>
</div>


<div class="container-fluid mb-5 pt-5">
    <div class="row ">
        <div class="d-flex pl-3">
            <div>
                <img src="../assets/Line 103.png" width="10px" height="75px">
            </div>
            <div class="pl-5 pt-2">
                <h1 class="heading">Poster designs you can rely on!</h1>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-7 paragraph">
            <p>
                Posters are everywhere like at the place of business, public places, at trade shows and conventions and as a perk to vendors and suppliers. Posters allow us to spread message faster in a simple and affordable way. It helps us to form immediate visual
                impressions on potential customers. To see plenty of creative poster designs, start a design contest now!

            </p>
            <div class="d-flex pl-3">
                <div>
                    <img src="../assets/Group 4465.png" width="30px" height="30px">
                </div>
                <div class="pl-5 paragraph">
                    <p>Experienced designers—all rated and reviewed
                        <p>


                </div>
            </div>
            <div class="d-flex pl-3">
                <div>
                    <img src="../assets/Group 4465.png" width="30px" height="30px">
                </div>
                <div class="pl-5 paragraph">
                    <p>Explore plenty of poster design concepts</p>
                </div>
            </div>
            <div class="d-flex pl-3">
                <div>
                    <img src="../assets/Group 4465.png" width="30px" height="30px">
                </div>
                <div class="pl-5 paragraph">
                    <p>Custom poster design as per your needs.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-none d-lg-block pt-4"><img src="../assets/Group 182.png"></div>
            <div class="d-lg-none"> <img class="img1" src="../assets/Group 182.png"></div>
        </div>
    </div>

    <div class=" mt-5">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="container ml-4">
                    <img src="../assets/Rectangle 2297@3x.png" width="300px">
                    <div class="centered">Get Start Now</div>
                </div>
            </div>
        </div>

    </div>

    <div class="row  pt-5">
        <div class="d-flex pl-3">
            <div>
                <img src="../assets/Line 103.png" width="10px" height="75px">
            </div>
            <div class="pl-5 pt-2">
                <h1 class="heading">Inspirational poster design ideas
                </h1>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/10-1-2021.png" width="100%">
        </div>
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/ordlance.png" width="100%">
        </div>
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/Instagram Post – 6.png" width="100%">
        </div>
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/Instagram Post – 2.png" width="100%">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/22-1-2021.png" width="100%">
        </div>
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/combo8.png" width="100%">
        </div>
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/Group 1813.png" width="100%">
        </div>
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/Group 1812.png" width="100%">
        </div>

    </div>
    <div class="row mt-4">
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/Group 4449.png" width="100%">
        </div>
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/Instagram Post – 6.png" width="100%">
        </div>
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/Instagram Post – 4.png" width="100%">
        </div>
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/Group 1813.png" width="100%">
        </div>

    </div>
    <div class="row mt-4">
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/combo3.png" width="100%">
        </div>
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/combo4.png" width="100%">
        </div>
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/Group 4451.png" width="100%">
        </div>
        <div class="col-md-3 pb-3 col-sm-6 col-6">
            <img src="../assets/Group 4452.png" width="100%">
        </div>

    </div>
    <div class="float-right mt-5 h4 ">View More</div>

    <div class="row mt-5">
        <div class="d-flex pl-3">
            <div>
                <img src="../assets/Line 103.png" width="10px" height="75px">
            </div>
            <div class="pl-5 pt-2">
                <h1 class="heading">Innovative ideas from Professional Designers
                </h1>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-7 paragraph">
            <p class="">
                There is no better way to design a creative poster compared to Poster Design Contests. Multiple design ideas will be sent by designers from all over the world and you can choose the best and impressive poster. No annoying apps and templates. You'll get
                100% unique posters this way!

            </p>
        </div>
        <div class="col-md-5">
            <div class="float-right"> <img src="../assets/Group 4467.png" width="400px" height="200px"></div>
            <div class="float-left"><img src="../assets/Group 4467.png" width="400px" height="200px"></div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex pl-3">
            <div>
                <img src="../assets/Line 103.png" width="10px" height="75px">
            </div>
            <div class="pl-5 pt-2">
                <h1 class="heading">Innovative ideas from Professional Designers
                </h1>
                <div class="paragraph">
                    <p>We assure you that your budget doesn't matter much . Our hands-on support and service is available for you in your pocket budget</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 container">
            <img src="../assets/Group 1128.png" width="100%" height="600px">
            <div class="centered text-dark paragraph">Poster design
            </div>
        </div>
        <div class="col-md-6 container">
            <img src="../assets/Group 4445.png" width="100%" height="600px">
            <div class="centered text-dark paragraph">Poster Design with Unlimited Revisions
            </div>
        </div>
    </div>

    <div class="d-none d-lg-block">
        <div class=" shadow p-3 mb-5 bg-white rounded mt-5 p-4 paragraph">
            Place Your Order and grow your business with a attractive posters
            <div class="float-right">
                <div class="container ml-4">
                    <img src="../assets/Rectangle 154.png" width="200px">
                    <div class="centered ">Call Now</div>
                </div>
            </div>
        </div>
    </div>



    <div class="d-lg-none">
        <div class="shadow p-3 mb-5 bg-white rounded mt-5 pb-4 pt-0" style="font-size: 11px;font-weight: bold;">
            Place Your Order and grow your business with a attractive posters
            <div class="float-right">
                <div class="container1">
                    <img src="../assets/Rectangle 154.png" width="100px">
                    <div class="centered1">Call Now</div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5 ">
        <div class="col-md-7  mb-5 col-12 col-sm-12">
            <img src="../assets/Group 4462.png" width="100%">
        </div>
        <div class="col-md-5 col-12 col-sm-12">
            <img src="../assets/Group 4446.png" width="100%">
        </div>
    </div>

    <div class="row mt-5">
        <div class="d-flex pl-3">
            <div>
                <img src="../assets/Line 103.png" width="10px" height="75px">
            </div>
            <div class="pl-5 pt-2">
                <h1 class="heading">Inspirational poster design ideas
                </h1>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 col-12 pb-3"><img src="../assets/Group 1821.png"></div>
        <div class="col-md-4 col-12 pb-3"><img src="../assets/Group 1821.png"></div>
        <div class="col-md-4 col-12 pb-3"><img src="../assets/Group 1821.png"></div>
        <div class="col-md-4 col-12 pb-3"><img src="../assets/Group 1821.png"></div>
        <div class="col-md-4 col-12 pb-3"><img src="../assets/Group 1821.png"></div>
        <div class="col-md-4 col-12 pb-3"><img src="../assets/Group 1821.png"></div>
        <div class="col-md-4 col-12 pb-3"><img src="../assets/Group 1821.png"></div>
        <div class="col-md-4 col-12 pb-3"><img src="../assets/Group 1821.png"></div>
        <div class="col-md-4 col-12 pb-3"><img src="../assets/Group 1821.png"></div>
    </div>








</div>